@model List<AMillionIdeas.Models.IdeaViewModel>


@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/BenchIdeas.css">
</head>
</br>
</br>
</br>
</br>
<div class="container">
    
    <ul class="idea-grid">
        
        @for (int i = 0; i < 105; i++)
        {
            <li><a href="#" data-toggle="modal" data-target="#myModal">pos @i</a></li>
    
            {Html.RenderAction("Details", "BenchIdeas");}

        }


</div>

