IDEA
Titulo: idea
descripcion:
Autor:
fecha:
Registrada: bool
Colabratica: bool;
likes
categoria

CATEGORIAS
titulo:
descripcion

AUTOR
nombre
telefono
email

LOGIN
register new user
hash function
salt function 
edit new user
	add pass generator
admin can see and edit all the users
login - authentication
manage different roles
	-  add this annotation in specific voids [RoleAuthorization(Roles = "1")]
	-  add condicionals (  if ((id == userId) || (roll == 1))  ) to control this
number of the wrong login - block account
add password change option
add user management (add menu options)

ADD SERVICES LAYER
** added

MESSAGES (CHAT)
send
show
    - pagination
notifications


----------------------------------------------------------
visualizar idea guardada
rellenar nueva idea
Borrar Idea
Contactar con el usuario
votar por idea
filtar ideas por categorias
Contador de ideas ocupadas y libres
ordenar ideas por likes



