

/*header {
  display: flex;
  align-items: center;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  justify-content: center;
  margin-bottom: 2em;
  background: #000;
  color: #fff;
  min-height: 10vh;
  text-align: center;
}*/

ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 100em;
  padding: 100;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

ul.weekdays {
  margin-bottom: 1em;
}

ul.idea-grid li {
  background-color: #eazeaea;
  border: 1px solid black;
  height: 12vw;
  max-height: 125px;
}

ul.weekdays abbr[title] {
  border: none;
  font-weight: 800;
  text-decoration: none;
}

ul.day-grid li:nth-child(1),
ul.day-grid li:nth-child(2),
ul.day-grid li:nth-child(3),
ul.day-grid li:nth-child(34),
ul.day-grid li:nth-child(35) {
  background-color: #fff;
}

@media all and (max-width: 800px) {
  ul {
    grid-gap: .25em;
  }
  
  ul.weekdays li {
    font-size: 0;
  }
  
  ul.weekdays > li abbr:after {
      content: attr(title);
      font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    }

  .post-it-note {
   padding: 2em;
   background: #ffd800;
   position: relative;
   min-height: 10em;
    }
    .post-it-note:after {
       content: "";
       position: absolute;
       bottom: -2em;
       left: 0;
       right: 2em;
       border-width: 1em;
       border-style: solid;
       border-color: #ffd800;
    }
    .post-it-note:before {
       content: "";
       position: absolute;
       bottom: -2em;
       right: 0;
       border-width: 2em 2em 0 0;
       border-style: solid;
       border-color: #b6ff00;
    }



}