@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/index.css">
</head>

<h2> A MILLION IDEAS</h2>

<div class="container">

    <ul class="idea-grid">
        <li class="post-it-note">free</li>
        <li class="post-it-note">free</li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
        <li><a href="#">free</a></li>
    </ul>

    <div class="post-it-note">
        free
    </div>
</div>